In [244]:
import pandas as pd
import numpy as np

In [245]:
data = 'algebra_2005_2006_test.txt'

In [246]:
data = pd.read_table(data)

C:\Users\adity\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [247]:
hierarchy = data['Problem Hierarchy']
units, sections = [], []
for i in range(len(hierarchy)):
    units.append(hierarchy[i].split(',')[0].strip())
    sections.append(hierarchy[i].split(',')[1].strip())

#adding units and sections as columns to the train data
data['Problem Unit'] = pd.Series(units, index=data.index)
data['Problem Section'] = pd.Series(sections, index=data.index)
#rearranging column oreder
cols = data.columns.tolist()
cols = cols[0:3]+cols[-2::]+cols[3:-2]
data = data[cols]

In [248]:
data.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Unit,Problem Section,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,...,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,390,0BrbPbwCMz,"Unit ES_04, Section ES_04-15",Unit ES_04,Section ES_04-15,LIT59,1,b+r*(x+y) = v-s,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[SkillRule: Remove constant; {ax+b=c, positive...",77
1,717,0BrbPbwCMz,"Unit CTA1_10, Section CTA1_10-5",Unit CTA1_10,Section CTA1_10-5,DIST05_SP,1,R7C1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Using small numbers~~Find X, positive slope~~U...",36~~33~~33
2,803,0BrbPbwCMz,"Unit ES_07, Section ES_07-2",Unit ES_07,Section ES_07-2,LIT50A,1,m*(k-n) = g*s,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[SkillRule: Remove coefficient; {ax+b=c, divid...",88
3,881,19UbXBlPPK,"Unit CTA1_01, Section CTA1_01-2",Unit CTA1_01,Section CTA1_01-2,BH1T17,1,R5C2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Find Y, Simple~~Using simple numbers~~Using la...",12~~17~~2
4,1190,2oNLCndtam,"Unit CTA1_12, Section CTA1_12-4",Unit CTA1_12,Section CTA1_12-4,SYSFB23,1,R3C1,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Define Variable,10

In [249]:
pu = data['Problem Unit']
ps = data['Problem Section']
ps = ps.unique()

In [250]:
for i in range(len(ps)):
    ps[i] = ps[i].split(" ")[1]

In [251]:
a = []
for i in range(len(ps)):
    c = []
    b = ps[i].split('-')
    if len(b)!=1:
        c.append(b[-2])
        c.append(b[-1])
        a.append(c)

In [252]:
a = np.array(a)
a[:,0]

array(['ES_04', 'CTA1_10', 'ES_07', 'CTA1_01', 'CTA1_12', 'ES_05',
       'CTA1_14', 'GRAPHING', 'CTA1_15', 'ALG1', 'FACTORING_ES',
       'SOLVING_ES', 'MOTION', 'A_ES', 'A_ES', 'CTA1_20', 'CTA1_21',
       'CTA1_22', 'CTA1_01', 'CTA1_02', 'ES_01', 'CTA1_04', 'ES_02',
       'CTA1_13', 'CTA1_06', 'ES_03', 'CTA1_08', 'ES_04', 'CTA1_10',
       'ES_07', 'CTA1_12', 'CTA1_06', 'ES_03', 'ES_04', 'ES_07',
       'CTA1_01', 'A_ES', 'ES_06', 'CTA1_24', 'CTA1_25', 'CTA1_26',
       'CTA1_27', 'ES_02', 'ES_04', 'CTA1_10', 'CTA1_08', 'CTA1_12',
       'CTA1_21', 'ES_05', 'FACTORING_ES', 'A_ES', 'CTA1_10', 'ES_05',
       'ES_02', 'ES_03', 'ES_03', 'CTA1_12', 'ES_05', 'ES_05', 'ES_04',
       'CTA1_10', 'ES_07', 'CTA1_12', 'ES_05', 'CTA1_20', 'CTA1_02',
       'ES_02', 'CTA1_06', 'ES_07', 'CTA1_01', 'ES_01', 'ES_02', 'ES_04',
       'ES_05', 'CTA1_02', 'CTA1_04', 'CTA1_14', 'ES_05', 'ES_01',
       'CTA1_10', 'ES_04', 'ES_01', 'ES_01', 'CTA1_04', 'ES_01',
       'CTA1_04', 'CTA1_14', 'CTA1_06', 'ES_03', 'ES_01', 'CTA1_02',
       'CTA1_15', 'CTA1_12', 'ES_02', 'ES_01', 'CTA1_06', 'ES_02',
       'ES_05', 'ES_01', 'ES_03', 'CTA1_15', 'ES_05', 'ES_02', 'GRAPHING',
       'ES_05', 'CTA1_14', 'ES_02', 'A_ES', 'A_ES', 'ES_01', 'ES_04',
       'ES_04', 'ES_04', 'ES_04', 'ES_03', 'ES_07', 'ES_04', 'CTA1_08',
       'ES_02', 'ES_04', 'ES_04', 'ES_04', 'ES_04', 'ES_03', 'ES_01'],
      dtype='<U12')

In [253]:
i = 1
lines = []
skill  = "1 1 1 1"
lines.append(str(i))
lines.append("Algebra")
lines.append(skill)
lines.append('-')
lines.append('-')
concept_map_key = {}
concept_map_key["Algebra"] = 1
for concept in a[:,0]:
    i = i+1
    lines.append(str(i))
    lines.append(concept)
    lines.append(skill)
    lines.append('1')
    lines.append('1')
    concept_map_key[concept]=i

In [254]:
for j in range(len(a[:,1])):
    i = i+1
    lines.append(str(i))
    lines.append(a[j,1])
    lines.append(skill)
    lines.append(str(concept_map_key[a[j,0]]))
    lines.append('1')

In [255]:
for i in range(len(lines)):
    lines[i]=lines[i]+'\n'

In [256]:
out = open("concepts_data.txt",'w+')
out.writelines(lines)
out.close()