# Data Preprocessing

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [0]:
trainData = '/content/algebra_2005_2006_train.txt'
testData  = '/content/algebra_2005_2006_test.txt'
traindata = pd.read_table(trainData)

In [0]:
traindata.head()

   Row  ... Opportunity(Default)
0    1  ...                    1
1    2  ...                 1~~1
2    3  ...                    2
3    4  ...                 1~~1
4    5  ...                 3~~1

[5 rows x 19 columns]

In [0]:
print ('Number of students: ', len(np.unique(traindata['Anon Student Id'])))
traindata.columns

Number of students:  15

Index(['Row', 'Anon Student Id', 'Problem Hierarchy', 'Problem Name',
       'Problem View', 'Step Name', 'Step Start Time',
       'First Transaction Time', 'Correct Transaction Time', 'Step End Time',
       'Step Duration (sec)', 'Correct Step Duration (sec)',
       'Error Step Duration (sec)', 'Correct First Attempt', 'Incorrects',
       'Hints', 'Corrects', 'KC(Default)', 'Opportunity(Default)'],
      dtype='object')

In [0]:
probs = traindata['Problem Name']
probs = np.unique(probs)
print ('No. of unique problems: ', len(probs))

No. of unique problems:  725

In [0]:
KCs = []

# Get the column of Knowledge Concepts, dropping all NaNs
KCcol = traindata['KC(Default)']
KCcol = list(KCcol.dropna())

# Loop over every database entry, read the KCs, split on '~~' separator, append to list
for i in range(len(KCcol)):
    skills = KCcol[i].split('~~')
    for skill in skills:
        KCs.append(skill)
        
# Convert to set, which keeps only unique entries, then convert back to list
KCs = list(set(KCs))

# Print length
print ('The total number of unique KCs is: ',len(KCs))

The total number of unique KCs is:  110

**Problem Heirarchies**

In [0]:
hierarchy = traindata['Problem Hierarchy']
units, sections = [], []
for i in range(len(hierarchy)):
    units.append(hierarchy[i].split(',')[0].strip())
    sections.append(hierarchy[i].split(',')[1].strip())

#adding units and sections as columns to the train data
traindata['Problem Unit'] = pd.Series(units, index=traindata.index)
traindata['Problem Section'] = pd.Series(sections, index=traindata.index)
#rearranging column oreder
cols = traindata.columns.tolist()
cols = cols[0:3]+cols[-2::]+cols[3:-2]
traindata = traindata[cols]